.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding:0.75em 1em;
    border-radius: 6px;
    border-color: #f55;
    border-width:2px;
    border-style:solid;
    color: #f55;
    font-weight: bold;
    font-family: helvetica, sans-serif;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited{
    border-color: #868585;
    border-width:2px;
    border-radius: 6px;
    background-color:#868585;
    color: #fff;
    border-style:solid;
    
}

.btn:hover,
.btn-alt:hover{
    border-radius: 6px;
    border:0;
    border-color: #f55;
    background-color: #f55;
    border-width:2px;
    border-style:solid;
    color: #fff; 
}
