footer {
    height: 6em;
    background-color:#777;
    
}

p {
    color: #fff;
    text-align:center;
    padding-top:2em;
}

body {
    margin:0;   
}

img {
   width:8%;
    display: inline;
}

.social {
    text-align:center;   
}