li{
    list-style-type: none;
    text-align:center;
}

.search-bar {
  margin: 0 auto;
}

img{
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 30em) {
 
    img{
        margin:2em 2em;
    }
    
    .search-bar {
        margin-top: -8em;
        float:right;
        margin-right:3em;
        
    }
    
    ul{
        float:right;
        margin-right: 1em;
        margin-top: -4em
    }
    
    li{
        display: inline;
    }
    
}

@media only screen and (min-width: 50em) {
 
    img{
         margin:2em 2em;
        }
    
    .search-bar {
        margin-top: -8em;
        float:right;
        margin-right:3em;
        
    }
    
    ul{
        float:right;
        margin-right: 18em;
        margin-top: -7em
    }
    
    li{
        display: inline;
    }
    
}