body{
    margin: 0;   
}

img {
       
}

.price {
    float:right;
    padding-right:1rem;
}

.btn {
    float:right;
    margin-right: 1rem;
}

.photos img{
    width:5em;
    display:inline;
    margin-top: 1em;
}

.photos {
    margin: 0 auto;
    text-align:center
  
}