.small-bucket{
    width:50%;
    margin: 0 auto;
}

h1, p {
    margin: 0 auto;
    text-align:center;
}

img{
    display:block;
    margin: auto;
}

h2{
    margin: 0;   
}

p {
    width:8em;   
}