#search {
	width: 200px;
}

#search form input[type="text"] {
    border-radius: 6px;
    border-color: #f55;
    border-width:2px;
    border-style:solid;
    color: #f55;
    font-weight: bold;
    font-family: helvetica, sans-serif;
	font-size: 14px;
	outline: none;
	padding: 10px 10px 10px 20px;
	
	width: 100%;
}

.search-btn {
    display: none;   
}