# Accessibility Testing Report

User testing was conducted by {Philip Asiddao} on {Friday, april 4th 2014} between the times of {start time} and {end time} with the following participants:

- {Columbina Anzivino}
- {Michelle Dugas}
- {Martine Cormier}
- {Alissa Decaire}
- {Iman Ghader}
- {Elzahra Elghirani}

## Tasks

1. {Find where products are manufactured in About page}
2. {Find out how much Beaded LIGHTNING Cross Bracelet costs}
3. {What kind of chain does the BLOCK Necklace use?}

---

## Individual Results & Observations

### {Columbina Anzivino}

- {Quick and easy}
- {Noticed all prices were the same for all products}



### {Michelle Dugas}

- {Very easy for her to navigate through with the tab}
- {Straight forward}
- {Did not know if she was able to use trackpad to scroll}

### {Martine Cormier}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### {Alissa Decaire}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Iman Ghader}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Elzahra Elghirani}

- {Had a difficult time navigating with voice over}
- {Voice over did not read descriptions for products}
- {Voice over spoke and navigated too fast}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.