# Accessibility Testing Report

User testing was conducted by {Philip Asiddao} on {Friday, april 4th 2014} between the times of {start time} and {end time} with the following participants:

- {Columbina Anzivino}
- {Michelle Dugas}
- {Greg Leblancr}
- {Alissa Dicaire}
- {Iman Ghader}
- {Elzahra Elghirani}

## Tasks

1. {Find where products are manufactured in About page}
2. {Find out how much Beaded LIGHTNING Cross Bracelet costs}
3. {What kind of chain does the BLOCK Necklace use?}

---

## Individual Results & Observations

### {Columbina Anzivino}

- {Quick and easy}
- {Noticed all prices were the same for all products}
- {Noticed about page lacked information}

### {Michelle Dugas}

- {Very easy for her to navigate through with the tab}
- {Straight forward}
- {Did not know if she was able to use trackpad to scroll}

### {Greg Leblanc}

- {Easy navigation}
- {Also noticed all product prices were the same}
- {Noticed search field was not working (missing button)}

### {Alissa Dicaire}

- {Completed the tasks but had difficulty}
- {Descriptions were not read by voice over}
- {Had to replay voice over for each page mutiple times}

### {Iman Ghader}

- {Serious difficulty nagivating}
- {Could not complete 3rd task because of the description not being read}

### {Elzahra Elghirani}

- {Had a difficult time navigating with voice over}
- {Voice over did not read descriptions for products}
- {Voice over spoke and navigated too fast}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Search feild not working}
- {Descriptons not being read by voice over}

### Serious, Causes Frustration, May Hinder Completion

- {About page lacked information on products/company}

### Minor, Annoying, Won’t Hinder Completion

- {All prices for items were the same}