# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Michelle Dugas}
- {Alissa Dicaire}
- {Iman Ghader}

## Tasks

1. {Find the cost of the Hemp bracelet}
2. {Find a necklace thats not beaded}
3. {Navigate to cart}

---

## Individual Results & Observations

### {Michelle Dugas}

- {Scrolled down to check small promos}
- {Clicked on Shop page}
- {Chose bracelet section}
- {Scrolled down and found 'Hemp Bracelet'}

### {Alissa Dicaire}

- {Scrolled down to check small promos}
- {Clicked on Shop page}
- {Chose necklace section}
- {Scrolled down and found 'Hemp necklace'}

### {Iman Ghader}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}


### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.