# User Testing Report

User testing was conducted by {Jake Asiddao} on {March 28th 2014} between the times of {2pm} and {5pm} with the following participants:

- {Michelle Dugas}
- {Alissa Dicaire}
- {Iman Ghader}

## Tasks

1. {Find the cost of the Hemp bracelet}
2. {Find a necklace thats not beaded}
3. {Navigate to cart}

---

## Individual Results & Observations

### {Michelle Dugas}

- {Scrolled down to check small promos}
- {Clicked on Shop page}
- {Chose bracelet section}
- {Scrolled down and found 'Hemp Bracelet'}

### {Alissa Dicaire}

- {Scrolled down to check small promos}
- {Clicked on Shop page}
- {Chose necklace section}
- {Scrolled down and found 'Hemp necklace'}

### {Iman Ghader}

- {Scrolled down, tried clicking on small promo}
- {Clicked on shop page when realizing small promo wasnt clickable}
- {tried clicking images}
- {chose bracelets in the sop-nav}
- {from list items, no other pages were linked}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants attempted clicking on the images}
- {All participants could not get past product list items page}


### Serious, Causes Frustration, May Hinder Completion

- {First two succeeded and last could not navigate to cart page}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {No images were placed}
- {Images were not clickable}