---
layout: default
title: Bracelets
---

<div>
        <h1>Raw Goods Bracelets</h1>
    </div>
    <div>
        <p>Enjoy our carefully hand crafted bracelets!</p>
    </div>
</div>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == 'shop' %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                    {{shop.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div class="small-bucket">
    
      <h1 class="giga">Limited Edition DEATH Charm</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-1.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Rose wood beads with our limited edition DEATH charm. Golden latch on hemp roping.</p>
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    
        <h1 class="giga">HANNYA Leather/Hemp Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-2.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Genuine leather and hemp string bracelet. Finished with dark wooden shield.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    
     <h1 class="giga">Black SPIDER Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-3.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Black stained wooden beads with woodgrain seperators finished with wooden cross charm.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    
    <h1 class="giga">Beaded LIGHTNING Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-4.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Classic lightwash wooden beaded bracelet w/cross charm.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    
    <h1 class="giga">Classic OLD TIMER Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-5.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Regular washed, aged look beaded bracelet with cross charm.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>