---
layout: default
title: Bracelets
---

<div>
        <h1>Raw Goods Bracelets</h1>
    </div>
    <div>
        <p>Enjoy our carefully hand crafted bracelets!</p>
    </div>
</div>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == 'shop' %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                    {{shop.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div class="small-bucket">
    <h1 class="giga">Black bead bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-1.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero sem. </p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    <h1 class="giga">Light bead bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-2.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero sem. </p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    <h1 class="giga">Hemp bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-3.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero sem. </p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    <h1 class="giga">Black bead cross bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-4.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero sem. </p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket">
    <h1 class="giga">Light bead cross bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-5.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero sem. </p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>