---
layout: default
title: Bracelets
---

<div>
        <h1>Raw Goods Bracelets</h1>
    </div>
    <div>
        <p>Enjoy our carefully hand crafted bracelets!</p>
    </div>
</div>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == 'shop' %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                    {{shop.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div class="gutter-2">

<div class="small-bucket">
    
      <h1 class="giga">Limited Edition DEATH Charm</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-1.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <a class="btn"  href="{{site.baseurl}}/shop/bracelet-1-detail/">Details</a>
        
    </div>

<div class="small-bucket line">
    
        <h1 class="giga">HANNYA Leather/Hemp Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-2.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <a class="btn"  href="{{site.baseurl}}/shop/bracelet-2-detail/">Details</a>
        
    </div>

<div class="small-bucket line">
    
     <h1 class="giga">Black SPIDER Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-3.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <a class="btn"  href="{{site.baseurl}}/shop/bracelet-3-detail/">Details</a>
        
    </div>

<div class="small-bucket line">
    
    <h1 class="giga">Beaded LIGHTNING Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-4.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <a class="btn"  href="{{site.baseurl}}/shop/bracelet-4-detail/">Details</a>
        
    </div>

<div class="small-bucket line">
    
    <h1 class="giga">Classic OLD TIMER Cross Bracelet</h1>
    
    <img  src="{{site.baseurl}}/images/bracelet-5.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>

    <a class="btn"  href="{{site.baseurl}}/shop/bracelet-5-detail/">Details</a>
        
    </div>
    
    </div>