---
layout: default
---

<div class="grid">
    <div class="unit unit-s-1 unit-m-2 unit-1-1-3">
        <h1>Raw Goods Necklaces</h1>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-1-2-3">
        <p>Enjoy our carefully hand crafted necklaces!</p>
    </div>
</div>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == 'necklace' %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                    {{shop.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div class="small-bucket">
    <h1 class="giga">Black Beaded Cross Necklace</h1>
    
    <img  src="{{site.baseurl}}/images/necklace-1.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Black stained Rosary style beaded necklace.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket line">
       <h1 class="giga">Gold VITALY Necklace</h1>
    
    <img  src="{{site.baseurl}}/images/necklace-2.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Gold rope includes custom VITALY pendant/ring.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket line">
    <h1 class="giga">BLOCK Necklace</h1>
    
    <img  src="{{site.baseurl}}/images/necklace-3.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Gun metal chain with dark stained wood pendant.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket line">
    <h1 class="giga">Hemp VITALY Necklace</h1>
    
    <img  src="{{site.baseurl}}/images/necklace-4.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Hemp rope necklace with signature golden VITALY pendant/ring.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>

<div class="small-bucket line">
    <h1 class="giga">Wooden BRUISER Necklace</h1>
    
    <img  src="{{site.baseurl}}/images/necklace-5.jpg" alt="">
    
    <h2 class="giga">$19.99</h2>
    
    <p class="milli">Gun metal chain with light wooden BRUISER pendant.</p>
    
    <a class="btn"  href="#">Details</a>
        
    </div>