---
layout: default
---

<main role="main">

<h1>Raw Goods!</h1>
<p>Select which type of jewelry you would like to shop.</p>


<nav class="small-bucket">
    <img src="{{site.baseurl}}/images/bracelet-1.jpg" alt="">
    <a class="{% if page.url == 'bracelet' %}current{% endif%}" href="{{site.baseurl}}/shop/bracelet/">Bracelets</a>

    <img src="{{site.baseurl}}/images/necklace-2.jpg" alt="">
    <a class="{% if page.url == 'necklace' %}current{% endif%}" href="{{site.baseurl}}/shop/necklace/">Necklaces</a>
</nav>
    
    </main>