

.header {
    overflow:hidden;
    margin-top:1rem;
}

ul {
    padding:0;   
}

li{
    list-style-type: none;
    text-align:center;
    
}

.search-bar {
  margin: 0 auto;
}

img{
    display: block;
    margin: 0 auto;
}

.logo {
    margin-bottom:1rem;
    max-width: 140px;
}

h1{
    margin:0;
    margin-top: 2rem;
}

h2 {
  margin:0;   
}

p {
 padding: 0;
    
}

@media only screen and (min-width: 30em) {
 
    .logo{
        float:left;
        width:130px;
        margin-left: 1rem;
    }
    
    img{
    }
    
    .search-bar {
        margin-top: ;
        float:right;
        margin-right:3em;
        
    }
    
    ul{
        float:right;
        margin-right: 1em;
    }
    
    li{
        display: inline;
    }
    
    h1{
    margin:0;
    margin-top: 2rem;
}
    
}

@media only screen and (min-width: 50em) {
 
    
    .search-bar {
        float:right;
        margin-right:3em;
        
    }
    
    ul{
        float:right;
        margin-right: 2em;
    }
    
    li{
        display: inline;
    }
    
}