.small-bucket{
    margin: 0 auto;
    text-align:center;
    margin-bottom:2rem;
}

.small-bucket img {
    width:350px;   
}

.line {
    border-top-width:1px;
    border-top-color:#777;
    border-top-style:solid;
}