<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Home • Raw Goods Jewelry</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/inclass-grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/promo-small.css" rel="stylesheet">
</head>
<body>
    
<div class="header">
        
               <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="logo"> 
        
        <div class="search-bar" id="search">

        <form action="javascript:void(0);" method="get">

            <input type="text" required value="search" onBlur="if(this.value=='')this.value='search'" onFocus="if(this.value=='search')this.value='' "> <!-- JS because of IE support; better: placeholder="search" -->

            <input type="hidden" value="">

        </form>
        
        <a class="btn-alt search-btn" href="#">Search</a>

    </div>
    
        <ul class="list-group">
            <li class="list-group-item"><a href="{{site.baseurl}}/" >Home</a></li>
            <li class="list-group-item"><a href="#">About</a></li>
            <li class="list-group-item"><a href="{{site.baseurl}}/shop/shop-nav/">Shop</a></li>
        </ul>
        
    
    
    </div>    
    
{{content}}
    
   <footer>
        
            <div class="footer">
            
                <p class="micro">Copyright Asiddao 2014</p>
            </div>
            
            <div class="social">
                <img src="{{site.baseurl}}/images/facebook.svg">
                <img src="{{site.baseurl}}/images/twitter.svg">
                <img src="{{site.baseurl}}/images/insta.svg">
                
            
            </div>
        
        
        </footer>
    
</body> 
</html>