<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Dinos 'R' Us</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/inclass-grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body>
    
<div>
        
        <img src="http://placehold.it/100x100" alt=""> 
        
        <div class="search-bar" id="search">

        <form action="javascript:void(0);" method="get">

            <input type="text" required value="search" onBlur="if(this.value=='')this.value='search'" onFocus="if(this.value=='search')this.value='' "> <!-- JS because of IE support; better: placeholder="search" -->

            <input type="hidden" value="">

        </form>
        
        <a class="btn-alt search-btn" href="#">Search</a>

    </div>
    
        <ul>
            <li><a href="#" >Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        
    
    
    </div>    
    
{{content}}
    
   <footer>
        
            <div class="footer">
            
                <p class="micro">Copyright Asiddao 2014</p>
            </div>
            
            <div class="social">
                <img src="images/facebook.svg">
                <img src="images/twitter.svg">
                <img src="images/insta.svg">
                
            
            </div>
        
        
        </footer>
    
</body> 
</html>