---
layout: default
---

<main role="main">

<h2 class="tera">Lorem Ipsum</h2>
        
        <div class="images">  
        
        <img class="product-img" src="http://placehold.it/350x350" alt="">
        
            <div class="photos">
        <img class="img-flex" src="http://placehold.it/60x60" alt="">
            <img class="img-flex" src="http://placehold.it/60x60" alt="">
        <img class="img-flex" src="http://placehold.it/60x60" alt="">
                </div>
            
            </div>
        
        <p>Aliquam sed sapien vitae sapien aliquam interdum. Nullam laoreet metus non lorem tristique, sed rhoncus sapien placerat. Vestibulum nec quam sem. In et felis et massa bibendum tincidunt. Nullam hendrerit, ipsum nec semper viverra, felis eros egestas risus, vitae varius odio nibh et felis. Phasellus tristique tortor id ipsum bibendum, eu dapibus felis ultricies.</p>
        
        <p><strong>Materials</strong>: Nullam laoreet metus non lorem tristique, sed rhoncus sapien placerat. Vestibulum nec quam sem. In et felis et massa bibendum tincidunt. </p>
        
        
        <div class="price-btn">
        <a class="btn micro" href="#">Buy Now</a>
        
        <h2 class="price giga">$24</h2>
        
        </div>
    
</main>